= javascript_include_tag "http://platform.twitter.com/widgets.js"
= javascript_include_tag "landing" 

#description
  %p Get reminders when you don't blog.

#register
  = form_for @blog, :url => signup_path do |f|
    %fieldset
      .elements
        = f.text_field :email, :value => "Your Email Address", :class => 'email'
        = f.text_field :rss_feed, :value => "Your RSS/Atom Feed", :class => 'email'
        = f.select :days_between_posts, frequency_options
      .submit
        = submit_tag "Remind Me", :class => "btn", :alt => "Join"
            

#twitter
  = link_to "Tweet this", "http://twitter.com/share", :class => "twitter-share-button"

